body {
  margin: 0px auto;
  width: 800px;
}
h1 {
  text-align: center
}
form {
  border: 1px solid black;
  width: 170px;
  text-align: center;
  padding: 0px 10px 20px;
  display: inline-block;
  margin: 0px 0px 10px
}
textarea {
  resize: none
}