<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Time Display</title>
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'time_display/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
    </head>
  <body>
      <p>The current time and date:</p>
      <div>
        <h1>{{date}}</h1>
        <h1>{{time}}</h1>
        
      </div>
      
  </body>
</html>