<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book-n-Review</title>
      {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'bookreview/css/w3.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
  </head>
  <body>
    <h2>Add a New Book Title and a Review</h2>
    <label>Book Title: <input type='text'  name='booktitle' class='form-control'></label>
    <h3>Author:<h3)
    <div>
      <h4>Choose from the list:</h4> <textarea rows='1' cols='40'>{{authorlist}}</textarea></label>
      <h4>Or add a new author:</h4> <textarea rows='1' cols='40'>{{authorlist}}</textarea></label>
    </div>
    <h3>Review</h3>
    <textarea rows='10' cols='60'>Blah blah balh</textarea>
    <label>Rating:</label>
    <select>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
      </select>
      <button type="submit" name='addBookAndReview'>Add Book and Review</button>

  </body>
