<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
      {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'login/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
    </head>
  <body>
    <!-- <p>Your Gold: <input type='textbox' name='yourgold' value='{{request.session.yourgold}}'></p> --> -->
    <form action="/" method="post">
      <h1>Registration</h1>
      {% csrf_token %}
      <label>First Name: <input type='textbox' name='first_name' value='Bruce'></label>
      <label>Last Name: <input type='textbox' name='last_name' value='Wayne'></label>
      <label>email: <input type='textbox' name='email' value='by@batman.com'></label>
      <label>Password: <input type='textbox' name='pwssowrd' value='Bruce Wayne'></label>
      <label>Confirm pw: <input type='textbox' name='confirmation' value='Bruce Wayne'></label>
      <button type='submit' type='hidden' name='submit' value='register' >Register</button>
    </form>
    <form action="/" method="post">
      <h1>Login</h1>
      {% csrf_token %}
      <label>email: <input type='textbox' name='email' value='by@batman.com'></label>
      <label>Password: <input type='textbox' name='pwssowrd' value='Bruce Wayne'></label>
      <button type='submit' type='hidden' name='submit' value='login' >Register</button>
    </form>
  </body>
</html>