form {
  width: 350px;
  position: relative;
  padding-top: 50px;
  margin: 0px auto;
}
label {
  display: block;
  margin: 5px;
}
input {
  position: absolute;
  right: 0;
  
}
button {
  margin: 20px 0px 0px;
}