<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppPage</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap-custom.css' %}" media="screen" title="no title"  charset="utf-8">
    <script href="{% static 'website/js/jquery-3.3.1.min.js' %}" media="screen" title="no title"  charset="utf-8"></script>
    <script href="{% static 'website/js/popper.min.js' %}" media="screen" title="no title"  charset="utf-8"></script>
    <script href="{% static 'website/js/bootstrap.min.js' %}" media="screen" title="no title"  charset="utf-8"></script>
    <link rel="icon" type='image/png' href="{% static 'website/img/favicon.png' %}">
  </head>
  <body>
    <div class='container'>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
          </div>
          <ul class="nav navbar">
            <li class="col-sm-2 active"><a href='/dashboard/'>Home</a></li>
            <li><a class='col-sm-2' href='/logout/'>Logout</a></li>
          </ul>
        </div>
      </nav>
      <h3>{{thisItem.item}}</h3>
      <h5>Users who added this product/item under their wish list: CHANGEME {{thisItem.item}}</h5>
      <!-- <table class='table table-striped'> -->
        <td class='ol-sm-2'><a href=''>{{thisItem.id}}</a></td>
        <td class='col-sm-2'>{{thisItem.item}}</td>
        <td class='col-sm-2'>{{thisItem.created_at}}</td>
        <td class='col-sm-2'>{{created_by}}</td>
          <a class='col-sm-4' href='/wishlist_items/{{thisItem.id}}/remove/'.format(thisItem.id)>Remove form my Wishlist!</a>
      </div>
    </div>
  </body>
</html>